.row
  .span5
    %h1= "Hello, #{current_user.auth_info["info"]["name"]}"
    %h2= "Your credits: #{current_user.credits}"
.row
  .span6
    %h2 Your tweets
    %table.table.table-striped
      %thead
        %tr
          %th
            Tweet ID
          %th
            Tweet Text
      %tbody
        - @our_tweets.each do |tweet|
          %tr
            %td= tweet.tweet_id
            %td= tweet.tweet_text

  .span6
    %h2 Other tweets
    %table.table.table-striped
      %thead
        %tr
          %th
            Twitter User
          %th
            Tweet Text
      %tbody
        - @other_tweets.each do |tweet|
          %tr
            %td= tweet.user.auth_info.try(:[], "info").try(:[], "name")
            %td
              = tweet.tweet_text
              .pull-right
                = link_to "Retweet", retweet_path(tweet_id: tweet.tweet_id)
.row
  .span5
    = form_tag update_status_path do
      = text_field_tag :message
      = submit_tag