.row
  .span6
    %h1 Our Tweets
    %ul
      - @our_tweets.each do |tweet|
        %li
          %h3= tweet.tweet_id
          %p= tweet.tweet_text
  .span6
    %h1
      Other Tweets
    %ul
      - @other_tweets.each do |tweet|
        %li
          %h3= tweet.tweet_id
          %p= tweet.tweet_text
          = link_to "Retweet", retweet_path(tweet_id: tweet.tweet_id)
.row
  .span12
    %h1
      Credits
    = @user.credits

.row
  .span5
    = form_tag update_status_path do
      = text_field_tag :message
      = submit_tag