!!!
%html
  %head
    %title Tweet For Tweet
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      - flash.each do |name, msg|
        .row
          .span4
            = content_tag :div, :class => "alert flash_#{name}" do
              = link_to "×", "#", :data => {dismiss: "alert"}, :class => "close"
              = msg
      = yield
