!!!
%html
  %head
    %title Tweet For Tweet
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "http://platform.twitter.com/widgets.js"
    = csrf_meta_tags

  %body
    - if current_user
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to "TweetForTweet", "#", :class => "brand"
            %ul.nav.pull-right
              %li= link_to "Sign out", logout_path, :method => :delete

    .container
      - flash.each do |name, msg|
        .row
          .span4
            = content_tag :div, :class => "alert flash_#{name}" do
              = link_to "×", "#", :data => {dismiss: "alert"}, :class => "close"
              = msg
      = yield

    = yield(:js_footer)

